# Node
node_modules/
npm-debug.log
yarn-error.log

# Env (NUNCA subir isso)
.env

# Logs
logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Build frontend (se usar depois)
dist/
build/

# Vercel / Netlify
.vercel
.netlify
